* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body > img {
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 100%;
  filter: blur(4px);
  z-index: -2;
}
.text {
  width: 370px;
  height: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  /* box-shadow: 1px 1px 1px 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.img {
  width: 240px;
  height: 240px;
  display: flex;
  border-radius: 5px;
}
.rote {
  position: absolute;
  top: 200px;
  right: -80px;
  transform: rotate(-90deg);
  width: 200px;
}

.clo {
  display: flex;
  width: 100%;
}
.p1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  /* font-size: 100px; */
  user-select: none;
}

.d_flex span {
  color: white;
  /* font-size: 50px; */
  /* border: 1px solid red; */
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  font-size: 55px;
}

.d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* padding-top: 5px; */
}
.d_flex1 {
  display: flex;
  gap: 15px;
}
.icon1 {
  font-size: 40px;
  color: white;
}

.play_pause {
  /* display: none; */
  font-size: 69px !important;
}
/* .active_playing {
  display: block;
} */
.time {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 170px;
  padding: 0;
  font-size: 17px;
}
